<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Healthcare App - Oublie mot de passe</title>

	<!-- Main stylesheet -->
	<link href="/css/style.css" rel="stylesheet">
</head>

<body class="bg-blue4">
<div id="forgotpwd-div-main" class="forgotpwd-main">
	<div id="forgotpwd-title-div" class="forgotpwd-title font-blue2">
		<br>
		HEALTHCARE APP
	</div>

	<div id="forgotpwd-form-div" class="forgotpwd-form font-blue1">
		<form th:action="@{/password/forgot}" method="post">
			<label for="forgotpwd-email">Entrez votre adresse mail pour réinitialiser votre mot de passe :</label><br>
			<input id="forgotpwd-email" th:name="email" type="email" placeholder="arthur.martin@yahoo.fr"><br><br>
			<input id="forgotpwd-submit" name="co-submit" type="submit" value="Valider"><br>
		</form>
	</div>
</div>
</body>


</html>