
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Healthcare App - Changement mot de passe</title>

	<!-- Main stylesheet -->
	<link href="/css/style.css" rel="stylesheet">
</head>

<body class="bg-blue4">
<div id="resetpwd-main-div" class="resetpwd-main">
	<div id="resetpwd-title-div" class="resetpwd-title font-blue2">
		<br>
		HEALTHCARE APP
	</div>

	<div id="resetpwd-form-div" class="resetpwd-form font-blue1">
		<form th:action="@{/password/reset}" method="post">
			<label for="resetpwd-username">Entrez votre nom d'utilisateur :</label><br>
			<input id="resetpwd-username" th:name="username" type="text"><br><br>

			<label for="resetpwd-password">Nouveau mot de passe :</label><br>
			<input id="resetpwd-password" th:name="password" type="password"><br><br>

			<label for="resetpwd-confirmpass">Confirmer mot de passe :</label><br>
			<input id="resetpwd-confirmpass" th:name="confirmpwd" type="password"><br><br>

			<label for="resetpwd-securitycode">Entrez votre code de sécurité :</label><br>
			<input id="resetpwd-securitycode" th:name="security-code" type="text"><br><br>

			<input id="resetpwd-submit" name="resetpwd-submit" type="submit" value="Valider"><br>
		</form>
	</div>
</div>
</body>
</html>

